<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Project for a Website">
<listeners>
	<listener class-name = "Utilities.ListnerImplementaion"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="GreenCart_Tests.HomePageTest"/>
      <class name="GreenCart_Tests.CheckoutPageTest"/>
      
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
